<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd ">
        
     <context:property-placeholder location="classpath:jdbc.properties" system-properties-mode="NEVER"/>
     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
     	<property name="driverClassName" value="${jdbc_driverClassNamer}"></property>
     	<property name="url" value="${jdbc_url}"></property>
     	<property name="username" value="${jdbc_username}"></property>
     	<property name="password" value="${jdbc_password}"></property>
     </bean>
 	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
 		<property name="dataSource" ref="dataSource"/>
 		<!-- private Resource[] mappingLocations; -->
 		<property name="mappingLocations" value="classpath*:com/wangwei/ssh/domain/*.hbm.xml"/>
 		<!-- private Properties hibernateProperties; -->
 		<property name="hibernateProperties" >
 			<value>
 					hibernate.dialect=org.hibernate.dialect.MySQLDialect
	 				hibernate.show_sql=true
	 				hibernate.hbm2ddl.auto=update
 			</value>
 		</property>
 	</bean>
 	<bean id="employeeDao" class="com.wangwei.ssh.dao.impl.EmployeeDaoImpl">
 		<property name="sessionFactory" ref="sessionFactory"/>
 	</bean>
 	<bean id="deptDao" class="com.wangwei.ssh.dao.impl.DeptDaoImpl">
 		<property name="sessionFactory" ref="sessionFactory"/>
 	</bean>
 	<bean id="employeeService" class="com.wangwei.ssh.service.impl.EmployeeServiceImpl">
 		<property name="employeeDao" ref="employeeDao"/>
 	</bean>
 	<bean id="deptService" class="com.wangwei.ssh.service.impl.DeptServiceImpl">
 		<property name="deptDao" ref="deptDao"/>
 	</bean>
 	<bean id="employeeAction" class="com.wangwei.ssh.web.EmployeeAction" scope="prototype">
 		<property name="employeeService" ref="employeeService"/>
 		<property name="deptService" ref="deptService"/>
 	</bean>
 		 
 	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
 		<!-- 需要配置session sessionFactory-->
 		<property name="sessionFactory" ref="sessionFactory"/>
<!--  		<property name="dataSource" ref="dataSource"/> -->
 	</bean>
 	<!-- 这是切入点 -->
 	<aop:config>
 	<!-- 配置切入点 -->
 		<aop:pointcut expression="execution(* com.wangwei.ssh.service.I*Service.*(..))" id="cutpoint"/>
 		<!-- 配置通知 -->
 		<aop:advisor advice-ref="advice" pointcut-ref="cutpoint"/>
 	</aop:config>
 	<!-- 配置联系 -->
 	<tx:advice id="advice" transaction-manager="transactionManager">
 		<!-- 属性方法。给哪些方法加事务  默认是 REQUIRED-->
 		<tx:attributes>
 			<tx:method name="get*" read-only="true" propagation="SUPPORTS"/>
 			<tx:method name="query*" read-only="true" propagation="SUPPORTS"/>
 			<tx:method name="*" />
 		</tx:attributes>
 	</tx:advice>
 	
 </beans>